/* 
Google fonts
 */

 @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,200;1,200&family=Poppins:wght@300;400&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
 /* 
 font-family: 'Libre Franklin', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Slab', serif;
 */
 /* ----------------- */


 *{
     margin: 0;
     padding: 0;

 }

:root{
    --helvitica:"'proxima-nova', 'Helvetica', 'Arial', 'sans-serif'";
    --Libre : "Libre Franklin";
    --Poppins:"Poppins";
    --Roboto:"Roboto";
    --primary-color: #5D5EB4;
}

 section,header a a:hover{
     text-decoration: none;
 }


 .spacer-80{
   display: block;
   width: 100%;
   height: 80px;
   clear: both;
 }

 .spacer-50{
  display: block;
  width: 100%;
  height: 50px;
  clear: both;
 }

section.dark {
  background-color: black;
  padding: 90px 0 90px 0;
}

 
 .wrapper{
     position: relative;
 }


 .close {
  position: absolute;
  right: 32px;
  top: 60px;
  width: 60px;
  height: 32px;
  opacity: 0.7;
  z-index: 2;
  cursor: pointer;
  display: none;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: white;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

div.transition{
  position: fixed;
  width: 100%;
  height: 100%;
  left: -100%;
   z-index: 1001; 
  /* height: 100vh; */
  background-color: var(--primary-color); 
}
 

/* @keyframes example{
  from {left: -100%;}
  to {left: 100%;}
} */
/* Start Header */
nav{
    z-index: 3;
}

.bg-light{
background-color: transparent;
--bs-bg-opacity: 0;
}
.navbar-light .navbar-brand{
    color: white;
    font-size: 1.30rem;
}
.navbar-light .navbar-brand:hover{
    color: white;
   
}

.navbar-toggler{
    background-color: white;
}

#headerlist li a {
    color: white;
padding: 9px ;
font-size: 1.15rem ;

}
#headerlist li a:hover {
    transition: 0.3s ease-in-out;
   color: var(--primary-color);
}

#socialicons a{
   padding:10px;
   color: rgb(255, 255, 255);
}

#socialicons a i{
    color: rgb(255, 255, 255);
    transition: ease-in-out 0.3s;
}
#socialicons a i:hover{
   color: var(--primary-color);
}

@media screen and (max-width: 991px) {
    #socialicons a {
      display: none;
    }
  }

/* End  Header */

/* Start Main Section */

.mainsection{
   
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    min-height: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    
}
.content{
    animation: 1s ease-out 0s 1 blockquoteanimation;
}
.content div:first-child h1 {
    animation: 1s ease-out 0s 1 blockquoteanimation2;
color: white;
font-size: 2.7rem;
font-family: var(--helvitica) sans-serif;
font-weight: 500;

}

.content div:first-child h1 span{

    color: var(--primary-color);
}
.content div:first-child p {
    animation: 1s ease-out 0s 1 blockquoteanimation;
    color: white;
    font-size: 1.1rem;
    font-family: var(--Libre);
    font-weight: 200;
    
    }
.content div:first-child button {
        background-color: var(--primary-color);
        
        
}

.content div:last-child blockquote {
    animation: 1s ease-out 0s 1 blockquoteanimation;
    color: white;
    font-size: 1.5rem;
    border-left: 4px var(--primary-color) solid;
    display: inline-block;
    padding-left: 22px;
    
    }

    @keyframes blockquoteanimation {
        0% {
          transform: translateX(10%);
        }
        100% {
          transform: translateX(0);
        }
      }
      @keyframes blockquoteanimation2 {
        0% {
          transform: translateX(-15%);
        }
        100% {
          transform: translateX(0);
        }
      }
      @keyframes blockquoteanimation3 {
        0% {
          transform: translateY(20%);
        }
        100% {
          transform: translateY(0);
        }
      }

      
/* End Main Section */
/* start Resume Section */

ul{
  counter-reset: list; 
}
.resume-item{
  animation: 1s ease-out 0s 1 blockquoteanimation;
  list-style: none;
  border-left: 1px var(--primary-color) solid;
  
  

}
.resume-item span{

  color: var(--primary-color);

}
span.resume-item-title{
  display: block;
  font-size: 1.3rem;
  
}
p.resume-item-text{
 padding: 0px 40px 40px 40px;
 margin: 0;
}
.resume-item-title span{
  color: var(--primary-color);
  font-weight: 400;
  font-size: 1rem;
 
}


  
.timeline-title::before{
  content: counter(list);
  counter-increment: list ;
  background-color: var(--primary-color);
  width: 40px;
  height: 40px;
  display: inline-block;
  font-size: 1.5rem;
  border-radius: 50%;
  color: white;
  text-align: center;
  position: relative;
  right: 20px;

}
.skill-bar{
  position: relative;
  animation: 1s ease-out 0s 1 blockquoteanimation;
}
.skill-bar h5{
 font-size: 0.8rem;
 margin-bottom: 15px;
 letter-spacing: 1px;
}
.progress{
  background-color: rgba(255, 255, 255, .1);;
  height: 0.5rem;
  margin-bottom: 20px;

}
.progress-bar{
  background-color: var(--primary-color);
}
.value{
  position: absolute;
  right: 0;
  top: 5px;
  
  
}



/* End Resume Section */
/* Start About-Us Section */

#section-about .row{

  animation: 1s ease-out 0s 1 blockquoteanimation;
}
.title1{
  font-size: 1.2rem;
  color: var(--primary-color);
  animation: 1s ease-out 0s 1 blockquoteanimation;
}
.title2{
  font-size: 2rem;
  animation: 1s ease-out 0s 1 blockquoteanimation;
}
.title-underline{
 width: 90px;
 height: 3px;
 display: block;
margin: 20px auto;
margin-bottom: 90px;
 background-color: var(--primary-color);

}


.aboutme span{
font-family: var(--Roboto);
  color: var(--primary-color);

}
.aboutme p{
  line-height: 2;
}
.aboutme ul{
 list-style: none;
 padding: 0;
}
.aboutme ul li{
margin-bottom: 5px;
letter-spacing: 1px;
font-family: var(--Roboto);
font-size: 1rem;
 }
 

 .imag-wrap{
   position: relative;
   
 }
.imag-wrap div:first-child a img{

width: 630px;
border-radius: 5px;
}

.imag-wrap div:last-child a img{
 
  width: 40%;
  border-radius: 5px;
  }
  .imag-wrap div:last-child {
    position: absolute;
    left: 440PX;
  top: 296PX;
  }
.s-border{
  animation: 1s ease-out 0s 1 blockquoteanimation;
    display: inline-block;
    margin-bottom: 40px;
    border-radius: 4px;
    padding: 10px 20px;
    border: 2px solid grey;
  }

  .f-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .f-box i{
    font-size: 23px;
    color: var(--primary-color);
    margin-right: 20px;
    padding: 7px;
  }
.owl-item {
  width: 340px;
 
}

.carousel-img{

  height: 100px;
  width: 100px !important;
  border-radius: 50%;
  margin: 20px auto;
  object-fit: cover;
}

.quotes{

  padding: 0 50px;
  
}
.quotes::before{
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900;
  content: "\f10d";
 display: block;
 color: var(--primary-color);
 font-size: 40px;
  
}
.name{
  display: block;
  text-align: center;
}

/* End About-Us Section */
/* Start Portfolio section */


  #section-portfolio{
min-height: 100vh;
overflow: hidden;
  }


#portfoliofilter{
  animation: 1s ease-out 0s 1 blockquoteanimation;
  text-align: center;
  margin-bottom: 80px;
}
#portfoliofilter li{
  display: inline-block;
  list-style: none;
}
#portfoliofilter li a {
  color: var(--primary-color);
  text-decoration: none;
  padding: 7px 20px; 
}

#portfoliofilter li a:hover{
  background-color: var(--primary-color);
  color: white;
  border-radius: 2px;
}
#portfoliofilter li a.selected{

  background-color: var(--primary-color);
  color: white;
  border-radius: 2px;

}
#gallery{
 display: flex;
 justify-content: center;
 animation: 2s ease-out 0s 1 blockquoteanimation;
}

.gallery-item a{

position: relative;
}

.gallery-item a img{
 
  overflow: hidden;
  width: 100%;
  
object-fit: cover;
margin-bottom: 40px;
border-radius: 3px;
}

.gallery-item a div.fig-caption{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
 
}
.gallery-item a:hover + div.fig-caption{
  
  display: block;

}

/* End Portfoliio Section */


/* Start Contact section Section */

#section-contact{
  height: 969px;
}
.form-control{
  background-color: black;
  border: 1px solid rgba(255,255,255,.2); ;
  margin-bottom: 20px;
}

.form-control:focus {
background-color: black;
border: var(--primary-color) 1px solid;
box-shadow: none;
}

textarea.form-control{
height: 154px;
}

.contact-form{
  animation: 1s ease-out 0s 1 blockquoteanimation;
}

.contact-form div button.btn-custom{
  background-color: var(--primary-color);
  padding: 4px 30px;
  border-radius: 2px;
  animation: 1s ease-out 0s 1 blockquoteanimation3;
}

/* End Contact section Section */
